.userCardContainer {
    padding-top: 20px;
}
.userImage {
    width: 100%;
}
.userCard {
    width: 400px;
}
blockquote
{
  font-style: normal;
  font-size: 16px;
  margin-left: 32px;
  font-family: Consolas, "Times New Roman", Verdana;
  border-left: 4px solid #CCC;
  padding-left: 8px;
}
.inputQuote {
    padding: 20px;
}
.hideAge {
    margin: 20px;
}